#card-players {
  overflow-y: scroll;
  width: 110%;
  padding-bottom: 10%;
  position: absolute;
  left: 10%;
  border: black, 1px, solid;
}
#panelForm > *,
#formPlayer > * {
  display: block;
  margin-bottom: 5%;
}

#search {
  display: inline-block;
  margin-left: 150px;
  padding: 30px;
  width: 20%;
  margin-top: -3%;
}

#panelForm {
  display: block;
  position: absolute;
  padding: 30px;
  width: 20%;
  left: 60%;
  margin-top: -3%;
  border: 5px solid red;
}
.playerCard {
  display: table;
  border: 5px solid red;
  border-radius: 6px;
  margin-bottom: 5%;
}

.playerCard > * {
  display: table-cell;
  vertical-align: top;
}
input[type='text'],
select,
input[type='date'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttonsPlayer {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #c2bec2;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.image-check {
  width: 10%;
}
